:root {
  --max-width: 700px;

  --border-radius-xsm: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;

  --indentation-xsm: 4px;
  --indentation-sm: 8px;
  --indentation-md: 12px;
  --indentation-lg: 16px;
  --indentation-xl: 32px;

  --foreground-rgb: rgb(61, 61, 61);
  --second-foreground-rgb: rgb(87, 87, 87);
  --background: rgb(245, 245, 245);
  --box-color: rgba(232, 232, 232, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --second-foreground-rgb: rgb(169, 169, 169);
    --background: rgb(33, 33, 33);
    --box-color: #333333;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  color: var(--foreground-rgb);
  background: var(--background);
  padding: var(--indentation-xl);
}

p {
  line-height: 1.6em;
}

a {
  color: inherit;
}

nav {
  display: flex;
  gap: 1em;
  padding: 1em 0;
}

.active {
  background-color: var(--box-color);
}

.link {
  padding: var(--indentation-sm);
  border-radius: var(--border-radius-sm);
  text-decoration: none;
}

.post {
  background-color: var(--box-color);
  padding: var(--indentation-lg);
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: column;
  gap: var(--indentation-xsm);
}

.list-item-title {
  padding-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--indentation-lg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: var(--indentation-lg);
}

time {
  font-size: 1em;
  color: var(--second-foreground-rgb);
}

.content {
  padding: var(--indentation-lg) 0 10vw 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
